/* body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
} */

.header {
    font-family: verdana, arial, helvetica;
    font-weight: bold;
    font-size: 22pt;
    color: #003366;
    filter: DropShadow(color=#CCCCDD, offX=2, offY=2, positive=1);
    width: 100%
}

.form_in {
    background: #FCFCFF;
    border: #003366 solid 1px;
}

.text_box {
    font-weight: bold;
    background: #EFEFF5;
    border: #003366 solid 1px;
    height: 20px;
}

.button {
    background: #CCCCDD;
    font-weight: bold;
    color: #003366;
    border: #003366 solid 1px;
    height: 20px;
    cursor: pointer;
}

.link {
    color: #003366;
}

.link:hover {
    color: #666699;
}

.error_message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}
